.academy-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: $academy-logo-color;

  &:hover .academy-logo__img {
    color: $basic-elements-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.academy-logo__text {
  font-size: 16px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  vertical-align: middle;
  color: $text-color;
  margin-right: 24px;
}

.academy-logo__img {
  vertical-align: middle;
}
