.socials {
  margin: 0;
  margin-bottom: 14px;
  padding: 20px 77px 15px 73px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid $border-card-color;
  border-top: 1px solid $border-card-color;

  @media (min-width: $tablet-width) {
    border: none;
    gap: 28px;
  }

  @media (min-width: $tablet-width) {

  }
}

.socials__item {


}

.socials__link {

}

.socials__img {

}
