.program-form {

}

.program-form__title {
  margin-bottom: 39px;
}

.program-form__text {
  margin: 0;
  margin-bottom: 39px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
}

.program-form__group-wrapper {
  margin-bottom: 27px;
}

.program-form__group {
  border: none;
  margin: 0;
  padding: 0;
}

.program-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.program-form__item {

}

.program-form__legend {

}

.program-form__input {

}

.program-form__textarea {

}

.program-form__button {

}

.program-form__note {

}
