.card {
  margin-bottom: 20px;
  padding: 29px 20px 14px;
  position: relative;
  background-color: $basic-gray-color;

  @media (min-width: $tablet-width) {
    padding: 77px 52px 52px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 52px 54px;
    width: 466px;
  }
}

.card__title {
  margin-bottom: 29px;
  margin-left: 71px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 163px;
    margin-bottom: 74px;
  }
}

.card__text-wrapper {
  flex: 1 0;
}

.card__text {
  padding-bottom: 22px;
  margin-bottom: 11px;
  color: $text-color;
  border-bottom: 1px solid $border-card-color;

  @media (min-width: $tablet-width) {
    margin-bottom: 26px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 1px;
  }
}

.card__button-img--long {
  display: none;
}

.card__button {
  padding: 4px 41px 4px 0;
  margin-left: -1px;
  position: relative;
  display: block;
  color: $text-dark-color;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &:hover .card__button-img {
    transition-duration: 5ms;
    display: none;
  }

  &:hover .card__button-img--long {
    display: block;
  }

  @media (min-width: $tablet-width) {
    padding: 4px 55px 4px 0;
    display: inline-block;
    font-size: 20px;
    line-height: 30px;
  }
}

.card__button-img {
  position: absolute;
  top: 11px;
  left: 100px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 12px;
    left: 134px;
  }
}

.card__img {
  position: absolute;

  &--beefy {
    top: 24px;
    left: 13px;
  }

  &--slim {
    top: 20px;
    left: 22px;
  }

  @media (min-width: $tablet-width) and (max-width: $tablet-width-finish) {
    position: relative;

    &--beefy {
      margin: -10px -9px 0 0;
      width: 268px;
      height: 200px;
    }

    &--slim {
      margin: -17px 32px 0;
      width: 200px;
      height: 211px;
    }
  }

  @media (min-width: $desktop-width) {
    &--beefy {
      top: 47px;
      left: 33px;
      width: 134px;
      height: 100px;
    }

    &--slim {
      top: 41px;
      left: 52px;
      width: 100px;
      height: 106px;
    }
  }
}
