.card {
  padding: 30px 33px  18px 20px;
  position: relative;
}

.card__title {
  margin-bottom: 29px;
}

.card__text {
  padding-bottom: 23px;
  margin-bottom: 15px;
  border-bottom: 1px solid;
}

.card__button {
  background: url("../././img/index/arrow.svg") no-repeat;
}

.card__img {
  position: absolute;
}
