.example {
  padding: 27px 0 35px;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    padding: 45px 0 17px;
    background: linear-gradient(transparent 619px, #eaeaea 619px);
  }

  @media (min-width: $desktop-width) {
    padding: 29px 0 24px;
    background: linear-gradient(transparent 165px, #eaeaea 165px);
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
  }
}

.example__text-info {
  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.example__title {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 149px;
  }
}

.example__text {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.example__statistic {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
  }
}

.example__list {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
    justify-content: start;
  }
}

.example__item {
  position: relative;
  list-style: none;
}

.example__value {
  margin: 0;
  padding-bottom: 2px;
  width: 122px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  line-height: 1;
  text-transform: uppercase;
  border: 1px solid $special-line-color;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    padding-bottom: 3px;
    width: 160px;
    height: 67px;
    font-size: 30px;
    line-height: 37px;
  }
}

.example__description {
  width: 82px;
  position: absolute;
  top: 46px;
  left: 17px;
  margin: 0;
  padding: 0 3px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  color: $text-color;
  background-color: $bg-color;

  @media (min-width: $tablet-width) {
    top: 63px;
    left: 26px;
    width: 110px;
    padding: 0;
    font-size: 14px;
    background-color: $basic-white-color;

    &--time {
      left: 11px;
      padding: 0 6px;
      width: 127px;
    }
  }

  @media (min-width: $desktop-width) {
    background-color: $bg-color;
  }
}

.example__price-info {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 11px;
    margin-right: -3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 1;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 59px;
    justify-content: start;
  }
}

.example__price-title {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.example__price-number {
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-right: 4px;
  }
}

.example__img-info {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: -54px;
  }
}

.example__img-wrapper {
  margin: auto;
  margin-bottom: 5px;
  width: 280px;
  height: 237px;
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 41px;
    width: 588px;
    height: 511px;
  }
}

.example__img {
  @media (min-width: $tablet-width) {
    height: 520px;
    width: 677px;

    &--right {
      width: 545px;
      height: 520px;
      position: absolute;
      right: 0;
    }
  }
}

.example__slide {
  width: 280px;
  height: 237px;

  &--right {
    display: none;
    position: absolute;
    top: 0;
  }

  @media (min-width: $tablet-width) {
    width: 296px;
    height: 511px;
    overflow: hidden;

    &--right {
      position: absolute;
      left: 296px;
      top: 0;
      display: block;
    }
  }
}
