.how-it-work {
  padding-bottom: 50px;

  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $border-menu-color;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.how-it-work__title {
  margin-bottom: 41px;
  padding-top: 2px;
}

.how-it-work__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-row-gap: 20px;
  list-style: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);
    gap: 37px 153px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    gap: 94px;
  }
}

.how-it-work__item {
  position: relative;
  display: flex;
  flex-direction: row;

  @media (min-width: $tablet-width) {
    min-width: 246px;
    min-height: 280px;
    flex-direction: column;
  }
}

.how-it-work__img {
  flex: none;
  width: 61px;
  height: 60px;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
  }

  @media (min-width: $desktop-width) {
  }
}

.how-it-work__text {
  color: $text-color;
  margin-top: 3px;
}

.how-it-work__number {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 280px;
  line-height: 1;
  font-weight: 400;
  color: $basic-gray-color;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
  }
}
