.program {
  margin-bottom: 21px;
  padding-top: 27px;
  position: relative;
  color: $basic-white-color;
  background: url("./../img/background-mobile.png") no-repeat center 0;
  background-size: 100% 301px;

  @media (min-resolution: 2dppx) {
    background-image: url("./../img/background-mobile@2x.png");
    background-size: 100% 301px;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 301px;
    left: 0;
    background-color: $basic-elements-color;
    opacity: 0.85;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-top: 47px;
    background: none;
    color: $basic-black-color;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      min-height: 694px;
      top: 0;
      right: 0;
      background-image: url("../../../img/index/background-desktop.jpg");
      background-color: $basic-elements-color;
      background-position: 0;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;

      @media (min-resolution: 2dppx) {
        background-image: url("../../../img/index/background-desktop@2x.jpg");
      }
    }

    &--top {
      padding-top: 200px;
    }
  }
}

.program__wrapper {
  position: relative;
}

.program__title {
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 87px 36px;
    text-align: left;
  }
}

.program__text {
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 89px 16px;
    text-align: left;
  }
}

.program__img {
  display: block;
  margin: auto;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    width: 708px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    width: 552px;
    height: 499px;
  }
}

.program__button {
  @media (min-width: $tablet-width) {
    display: inline-block;
    position: absolute;
    top: 231px;
    left: 120px;
  }
}
