.program {
  margin-bottom: 21px;
  padding-top: 27px;
  position: relative;
  color: $basic-white-color;
  background: url("./../img/background-mobile.png") no-repeat center 0;
  background-size: 100% 301px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 301px;
    left: 0;
    background-color: $basic-elements-color;
    opacity: 0.85;
  }

  @media (min-width: $tablet-width) {
    padding-top: 33px;
    background: none;
    color: $basic-black-color;

    &::before {
      background: none;
    }
  }
}

.program__wrapper {
  position: relative;
}

.program__title {
  margin-bottom: 21px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0 87px 36px;
    text-align: left;
  }
}

.program__text {
  margin: 0;
  margin-bottom: 26px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin: 0 89px 20px;
    text-align: left;
  }
}

.program__img {
  display: block;
  margin: auto;
  margin-bottom: 3px;
}

.program__button {
  @media (min-width: $tablet-width) {
    display: inline-block;
    position: absolute;
    top: 263px;
    left: 120px;
  }
}
