body {
  margin: 0 auto;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 0 20px;
  margin: auto;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    padding: 0;
    max-width: 1220px;
  }
}

.display-none {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.hidden {
  visibility: hidden;
}

.title {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1;

  @media (min-width: $tablet-width) {
    font-size: 60px;
  }
}


.subtitle {
  margin: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
}

.text {
  margin: 0;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.button {
  padding: 10px 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  color: $basic-white-color;
  font-weight: 400;
  text-transform: uppercase;
  background-color: $basic-elements-color;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 17px 26px;
    font-size: 20px;
    line-height: 1;
  }
}
