
$basic-elements-color: #68b738;
$basic-element-active-color: #5eaa2f;
$basic-white-color:#ffffff;
$basic-black-color: #000000;
$basic-gray-color: #f2f2f2;
$text-color:#444444;
$text-dark-color: #222222;
$status-error-color: #ff8282;
$special-line-color: #cdcdcd;
$bg-color: #eaeaea;



// /* Color styles */
// --special_grey-2: #EBEBEB;
// --special_grey-2: #666666;
// --special_dark-grey: #444444;
// --special_dark-grey-2: #222222;

// /* Effect styles */
// --shadow_normal:  0px 1px 3px rgba(0, 0, 0, 0.16);
// --shadow_hover:  0px 2px 4px rgba(0, 0, 0, 0.19);
// --shadow_pressed:  0px 3px 5px rgba(0, 0, 0, 0.2);
