
$basic-elements-color: #68b738;
$basic-element-active-color: #5eaa2f;
$basic-white-color:#ffffff;
$basic-black-color: #000000;
$basic-gray-color: #f2f2f2;
$text-color:#444444;
$text-dark-color: #222222;
$status-error-color: #ff8282;
$special-line-color: #cdcdcd;
$bg-color: #eaeaea;
$input-border: #e7e7e7;
$border-menu-color:#e6e6e6;
$border-card-color:#d9d9d9;
$border-catalog-color: #ebebeb;
$hover-element-color:#bababa;
$academy-logo-color:#666666;


$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width-finish: 1439px;
