.additional-catalog {
  padding-top: 21px;
  position: relative;

  &::before {
    content: "";
    top: 23px;
    left: 0;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, transparent 17px, $basic-elements-color 17px, $basic-elements-color 19px, transparent 19px);
    height: 19px;
    display: flex;
    align-items: center;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    padding-top: 67px;

    &::before {
      top: 70px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 76px 0 85px;

    &::before {
      top: 80px;
    }
  }
}

.additional-catalog__title-wrapper {
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 1292px;
  }
}

.additional-catalog__title {
  margin-bottom: 25px;
  padding: 0 20px;
  display: inline-block;
  z-index: 1;
  background-color: $basic-white-color;

  @media (min-width: $tablet-width) {
    margin-left: 31px;
    margin-bottom: 79px;
    padding: 0 36px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 78px;
    padding: 0 36px;
  }
}

.additional-catalog__layout {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    gap: 80px;
  }
}

.additional-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    border: 1px solid #cdcdcd;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    border: none;
  }
}
