.catalog-title {
  padding: 27px 20px 39px;
  color: $basic-black-color;
  border-top: 1px solid  $border-card-color;

  @media (min-width: $tablet-width) {
    padding: 49px 30px 31px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 56px 126px 77px;
    max-width: 1220px;
    margin: auto;
  }
}
